<!DOCTYPE html>
<html lang="en">
<head>
  <title>Accueil</title>
        {%stylesheets'@MIHGsbBundle/Resources/public/css/bootstrap.min.css'%}
            <link rel="stylesheet" href="{{asset_url}}" type="text/css" />
        {%endstylesheets%}

        {%stylesheets'@MIHGsbBundle/Resources/public/css/bootstrap-theme.min.css'%}
            <link rel="stylesheet" href="{{asset_url}}" type="text/css" />
        {%endstylesheets%}
        
        
        
        
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
    
{{ form(form)}}

</body>
</html>


            
            
            
